
.my-room.page-columns {
  display: flex;
  align-items: flex-start;
}
.room-section.page-columns__small {
  position: sticky;
  top: 0;
  width: 282px;
  margin-right: 32px;
  margin-bottom: 30px;
}
.room-section.page-columns__big {
  width: calc(100% - 282px - 32px);
}

.room-section__nav {
  border-radius: 4px;
  overflow: hidden;
}
.room-section__item-link {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  padding: 11px 26px;
  transition: all 300ms linear;
  text-decoration: none;
  border: 1px solid #DAE0E5;
}

.room-section__item {
  margin-bottom: -1px;
  &.active,
  &:hover {
    position: relative;
    z-index: 1;
  }
  &:first-child .room-section__item-link {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:last-child .room-section__item-link {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.room-section__item.active .room-section__item-link,
.room-section__item-link:hover {
  background: $color-2;
  color: #fff;
  border-color: $color-2;
  .room-section__link-icon {
    background: #FFFFFF;
    svg {
      fill: $color-2;
    }
  }
}

.room-section__link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 10px;
  background: $color-2;
  transition: 300ms;
  svg {
    fill: #FFFFFF;
    transition: 300ms;
  }
}
.room-section__link-text {
  width: calc(100% - 27px - 10px);
}
.room-section__line-box {
  border-radius: 4px;
  border: 1px solid #DAE0E5;
  padding: 25px 32px 32px;
  margin-bottom: 28px;
  &:first-child {
    min-height: 301px;
  }
}
.room-section__line-box h2,
.room-section__line-box h3 {
  margin-bottom: 30px;
}

.room-section__table {
  margin-bottom: 21px;
  &:last-child {
    margin-bottom: 0;
  }
  table {
    width: 100%;
  }
  th, td {
    border: none;
    font-weight: 300;
    font-size: 14px;
    padding: 6px 5px;
    text-align: left;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.my-data-table {
  tr:first-child td {
    padding-top: 0;
  }
  td, th {
    &:first-child {
      width: 1%;
      color: #767676;
    }
  }
}

.room-section__box-social-account {
  font-size: 13px;
  h2, h3 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 25px;
  }
}

.b-social-account {
  display: flex;
  flex-wrap: wrap;
}
.b-social-account__item {
  display: inline-block;
  vertical-align: top;
  width: 194px;
  border-radius: 4px;
  border: 1px solid #DAE0E5;
  text-align: center;
  padding:32px 32px 30px;
  margin-right: 32px;
  max-width: calc(50% - 16px);
  text-decoration: none;
  color: inherit;
  &:last-child {
    margin-right: 0;
  }
}
.b-social-account__name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #DAE0E5;
  border-radius: 33px;
  line-height: 34px;
  min-width: 115px;
  color: inherit;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 13px;
  svg {
    line-height: 0;
    margin-right: 6px;
  }
}
.b-social-account__status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-bottom: 13px;
  color: #767676;
}

.b-social-account__status-icon {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  line-height: 19px;
  background-color: #00B001;
  border-radius: 50%;
  margin-right: 9px;
  vertical-align: middle;
  svg {
    fill: #fff;
  }
}

.b-social-account__btn-line {
  a, button {
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    color: $color-2;
    text-decoration: underline;
    padding: 0;
    border: none;
    background: transparent;
    &:hover {
      text-decoration: none;
    }
  }
}

.b-social-account__item.active {
  .b-social-account__btn-line {
    a, button {
      color: inherit;
    }
  }
}

.my-room .section-for-products .section-title {
  padding-left: 32px;
}

.room-section__line-box .text {
  h2, h3 {
    margin-bottom: 20px;
  }
  p {
    font-size: 13px;
    margin-bottom: 25px;
  }

}

.room-section__line-box.mod-subsubscribe {
  min-height: auto;
}

.room-form__subscribe,
.room-edit-profile {
  .form__line.mod-button:last-child {
    margin-bottom: 0;
  }
}

.room-edit-profile {
  width: 832px;
  max-width: 100%;
}

.room-section__line-box.mod-edit-profile {
  h2 {
    margin-bottom: 25px;
  }
}

.room-edit-profile {
  .form__line.mod-button {
    padding-top: 20px;
  }
}

.room-section__line-box {
  .box-for-product {
    margin-left: -48px;
    margin-right: -48px;
    &:last-child {
      margin-bottom: -30px;
    }
  }
}

.favorite-list__action-line {
  margin-bottom: 24px;
  padding-top: 5px;
}

.favorite-list__line {
  display: flex;
  margin-bottom: 30px;
  align-items: flex-start;
  .favorite__link-edit {
    margin-right: 14px;
  }
  .box-links {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: flex-end;
    padding-top: 1px;
  }
  h2, h3 {
    max-width: calc(100% - 200px);
    padding-right: 15px;
    margin-bottom: 0;
  }
}

.room-section__line-box .box-for-product.mod-four .b-product {
  height: 308px;
  margin-bottom: 30px;
}

//===================================================================================

.room-section__your-orders .line-accordion.accordion-active {
  .accordion-info {
    display: block;
  }
}
.room-section__your-orders .line-accordion {
  border: 1px solid #DAE0E5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 28px;
  padding-top: 26px;
  padding-bottom: 26px;
}
.room-section__your-orders .accordion-info {
  display: none;
  margin-top: 0;
  font-size: 0;
  padding-top: 32px;
  padding-right: 9px;
}

.room-section__your-orders .order-descr {
  float: left;
  width: calc(100% - 282px - 32px);
  margin-right: 32px;
  font-size: 14px;
}

.room-section__your-orders .order-descr-info {
  float: right;
  vertical-align: top;
  width: 282px;
  font-size: 14px;
  border: 1px solid #DAE0E5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px 26px;
  line-height: 22px;
}

.room-section__your-orders .prof-info__unit-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 6px;
}

.room-section__your-orders .prof-info__title {
  font-weight: 500;
  font-size: 15px;
  margin-bottom:18px;
}
.room-section__your-orders .prof-info__unit {
  margin-bottom: 19px;
  &:last-child {
    margin-bottom: 0;
  }
  .btn  {
    margin-top: 12px;
  }
}

.shop-cart-order__all-for-pay td {
  text-align: right !important;
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.room-section__your-orders {
  .accordion-name {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 14px;
    padding: 0px 0 0 23px;
    border-left: 4px solid #EAB324;
    align-items: center;
    justify-content: space-between;
    color: #767676;
    &.ui-accordion-header-active {
    }
    .order-info {
      width: 340px;
      padding-right: 30px;
    }
    .order-status {
      width: 300px;
      text-align: right;
      padding-right: 30px;
    }
    .order-date {
      display: inline;
    }
    .order-num {
      //color: @color-1;
      margin-right: 10px;
    }
    .ui-icon {
      width: 30px;
      height: 23px;
      background-size: 10px;
    }
    &.mod-type-2 {
      border-color: #00B001;
    }
  }
  .order-num__num,
  .order-sum__sum,
  .order-status {
    color: #232323;
  }
  .product__mini-view {
    padding-left: 7px;
  }
  .product__mini-view .product__img {
    width: 112px;
    min-width: 112px;
  }
  .product__mini-view .shop-cart-product__line {
     margin-bottom: 11px;
   }
  .product__mini-view .product__parameters-item {
    margin-bottom: 6px;
  }
  .product__mini-view .b-product__vendor-code {
    margin-top: 4px;
  }

}


.favorit-addsection .form__line:last-child {
  margin-bottom: 0;
}



////------------------media screen 1200 begin-----------------------------*/
@media (max-width: $md2+px) {
  .room-section.page-columns__small {
    width: 262px;
  }
  .room-section.page-columns__big {
    width: calc(100% - 262px - 32px);
  }
  .room-section__your-orders .accordion-name .order-info {
    width: 280px;
    padding-right: 5px;
  }
  .room-section__your-orders .accordion-name {
    padding-right: 12px;
  }
  .room-section__your-orders .accordion-name .order-status {
    padding-right: 20px;
  }
  .room-section__your-orders .order-descr {
    width: 100%;
    margin-right: 0;
  }
  .room-section__your-orders .order-descr-info {
    width: initial;
    border: none;
    border-radius: 0;
    padding: 0;
    margin-right: -30px;
  }
  .room-section__your-orders .prof-info__title {
    width: 100%;
  }

  .room-section__your-orders {
    .prof-info {
      display: flex;
      flex-wrap: wrap;
    }
    .shop-cart-table table {
      margin-bottom: 20px;
    }
  }
  .room-section__your-orders .prof-info__unit {
    margin-right: 30px;
  }

}

//------------------media screen 1024 begin-----------------------------*/
@media (max-width: $md3+px) {
  .room-section.page-columns__small {
    display: none;
  }
  .room-section.page-columns__big {
    width: 100%;
  }
  .room-section__line-box .box-for-product.mod-four .b-product {
    width: calc(25% - 32px);
    height: auto;
    margin-bottom: 20px;
  }
  .room-section__line-box .box-for-product {
    margin-left: -16px;
    margin-right: -16px;
  }
  .room-section__line-box {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .box-for-product .b-product .product__delete {
    position: absolute;
    top: 0px;
    right: -1px;
  }
  .room-section__line-box:first-child {
    min-height: initial;
  }

  .room-section__your-orders .order-descr-info {
    margin-right: -20px;
  }

  .room-section__your-orders .prof-info__unit {
    margin-right: 20px;
    font-size: 13px;
  }
}

//------------------media screen 800 end-----------------------------*/
@media (max-width: $md4+px) {
  .room-section__line-box .box-for-product.mod-four .b-product {
    width: calc(100% / 3 - 32px);
  }
  .box-for-product .b-product .product__delete {
    top: -15px;
  }

  .room-section__your-orders .prof-info__unit {
    margin-right: 20px;
    font-size: 13px;
    width: calc(33.333% - 20px);
  }
  .room-section__your-orders .accordion-name {
    padding-left: 0;
    border: none;
    align-items: flex-start;
  }
  .room-section__your-orders .accordion-name .order-info {
    width: 200px;
  }
  .room-section__your-orders .accordion-name .order-sum {
    width: 130px;
  }
  .room-section__your-orders .accordion-name .order-status {
    width: 220px;
    text-align: right;
    padding-right: 30px;
  }

  .room-section__your-orders .line-accordion {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

//------------------media screen 568 begin-----------------------------*/
@media (max-width: $md5+px) {
  .room-section__line-box .box-for-product.mod-four .b-product {
    width: calc(33.3333333333% - 10px);
  }
  .box-for-product .b-product .product__delete {
    top: -12px;
    right: -14px;
  }
  .favorite-list__line h2, .favorite-list__line h3 {
    padding-top: 3px;
  }
  .room-section__line-box .box-for-product {
    margin-left: -5px;
    margin-right: -5px;
  }
  .room-section__line-box {
    padding: 15px 15px;
    margin-bottom: 25px;
  }
  .room-section__line-box .box-for-product:last-child {
    margin-bottom: -20px;
  }
  .room-edit-profile .form__line.mod-button:last-child,
  .room-form__subscribe .form__line.mod-button:last-child {
    padding-top: 5px;
  }
  .my-room .section-for-products .section-title {
    padding-left: 0;
  }

  .room-section__your-orders .accordion-name .order-status {
    width: 172px;
    padding-right: 15px;
  }
  .room-section__your-orders .accordion-name .order-info {
    width: 180px;
  }

  .room-section__your-orders .accordion-name {
    font-size: 13px;
    line-height: 20px;
  }

  .room-section__your-orders .line-accordion {
    padding: 13px 10px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .room-section {
    .product__mini-view .shop-cart-product__unit:last-child {
      margin-right: 20px;
    }
    .shop-cart-table table td.amount-product {
      margin-left: 0;
      width: auto;
      padding-right: 0;
      .amount {
        margin: 0;
      }
    }
    .product__mini-view .shop-cart-product__line {
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .room-section__your-orders .product__mini-view {
    padding-left: 0;
  }

  .shop-cart-order__all-for-pay {
    border-bottom: none !important;
  }
  .shop-cart-table tr:first-child {
    border-top: 1px solid #e5e5e5;
  }

  .room-section__your-orders .accordion-info {
    padding-top: 13px;
    padding-right: 0;
  }

  .room-section__your-orders .prof-info__unit {
    width: calc(50% - 20px);
  }

  .room-section__your-orders .prof-info__unit-title {
    margin-bottom: 2px;
  }
  .room-section__your-orders .shop-cart-table table {
    margin-bottom: 15px;
  }

}


//------------------media screen 320 begin-----------------------------*/

@media (max-width: $md6+px) {
  .room-section__line-box .box-for-product.mod-four .b-product {
    width: calc(50% - 10px);
  }
  .room-section__line-box {
    padding: 0;
    border: none;
  }

  .favorite-list__line {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .favorite-list__line h2, .favorite-list__line h3 {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .favorite-list__line .box-links {
    width: 100%;
    justify-content: flex-start;
  }
  .room-section__line-box.mod-edit-profile h2 {
    margin-bottom: 15px;
  }
  .b-social-account__item {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 0 5px;
    max-width: calc(50% - 10px);
  }
  .b-social-account {
    margin-left: -5px;
    margin-right: -5px;
  }
  .room-section__line-box h2, .room-section__line-box h3 {
    margin-bottom: 20px;
  }

  .room-section__your-orders .prof-info__unit {
    width: 100%;
    margin-right: 0;
  }
  .room-section__your-orders .order-descr-info {
    margin-right: 0;
  }

  .room-section__your-orders .accordion-name .order-info,
  .room-section__your-orders .accordion-name .order-sum,
  .room-section__your-orders .accordion-name .order-status {
    width: 100%;
    padding-right: 0;
    text-align: left;
    margin-bottom: 5px;
    line-height: 19px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .favorite-list__line .favorite__link-edit {
    width: auto;
  }


}
