.step-of-order {
  border-radius: 4px;
  border: 1px solid #DAE0E5;
  padding: 10px 26px;
  margin-bottom: 50px;
}
.step-of-order__item {
  display: inline-block;
  margin-right: 32px;
  vertical-align: top;
  &.active .step-of-order__link-number {
    background-color: $color-2;
  }
  &.active .step-of-order__link {
    color: inherit;
  }
}


.step-of-order__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #767676;
  font-weight: 500;
  font-size: 18px;
}
.step-of-order__link-number {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: #767676;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-right: 16px;
}

.order-page__columns {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}
.order-page__columns .page-columns__small.mod-right {
  position: sticky;
  top: 0;
  width: 282px;
}
.order-page__columns .page-columns__big {
  margin-right: 32px;
  width: calc(100% - 32px - 282px);
  counter-reset: li;
}

.checkout__form-unit-inputs {
  width: 830px;
  max-width: 100%;
}
.checkout__form-unit h2 {
  margin-bottom: 38px;
}


.checkout__box {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #DAE0E5;
  margin-bottom: 16px;
  padding: 21px 26px;
  &.active {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  }
  &.mod-vertical-align-top,
  &[for="ID_DELIVERY_ID_5"],
  &[for="ID_DELIVERY_ID_6"],
  &[for="ID_PAY_SYSTEM_ID_17"] {
    align-items: flex-start;
    .checkout__box-unit {
      padding-top: 4px;
    }
  }

}

.checkout__box-unit {
  display: flex;
  flex-wrap: wrap;
  width: 172px;
  align-items: center;
  padding-right: 20px;
}
.checkout__box-radio {
  margin-right: 18px;
}
.checkout__box-radio label {
  width: 20px;
  height: 20px;
  padding-left: 0;
}
.checkout__option-icon {
  width: calc(100% - 20px - 18px);
  line-height: 0;
  img {
    max-width: 100%;
    height: auto;
  }
}

.checkout__box-info {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 172px);
  &:after {
    display: none;
  }
}

.checkout__option-title {
  font-weight: normal;
  font-size: 15px;
  color: #232323;
  margin-bottom: 12px;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
}
.checkout__option-text {
  font-weight: 300;
  font-size: 13px;
  color: #767676;
  width: 100%;
  line-height: 17px;
}
.checkout__box .form__line {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.checkout__box {
  .checkout__option-title + .form__line {
    margin-top: 0;
  }
}


.checkout__box .form__line input[type="text"],
.checkout__box .form__line input[type="password"],
.checkout__box .form__line input[type="tel"],
.checkout__box .form__line input[type="email"],
.checkout__box .form__line input[type="number"],
.checkout__box .form__line input[type="login"],
.checkout__box .form__line select {
  max-width: 320px;
}
.checkout__box .form__line .short-select,
.checkout__box .form__line .short-input {
  width: 120px;
}

.checkout__form-unit__number {
  //width: 30px;
  //height: 30px;
  //text-align: center;
  //border-radius: 50%;
  //line-height: 30px;
  //font-size: 13px;
  //background: #E6E8E9;
  //margin-right: 22px;
  display: none;
}
.checkout__form-unit-top-line {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.checkout__form-unit__title {
  font-weight: 500;
  font-size: 16px;
  padding-top: 4px;
}

.checkout__form-unit {
  position: relative;
  margin-bottom: 47px;
  padding-left: 52px;
  &:last-child {
    margin-bottom: 0;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: calc(100% - 46px);
    top: 50px;
    left: 14px;
    background: #E5E5E5;
  }
  &:after {
    content: counter(li);
    counter-increment: li;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    font-size: 13px;
    background: #E6E8E9;
    margin-right: 22px;
  }
  &.quick-order {
    padding-left: 0;
    &:before,
    &:after {
      display: none;
    }
  }
}
.checkout__form-unit-top-line-left-part {
  display: flex;
  align-items: center;
  margin-right: 111px;
  h2, .h2, h3, .h3 {
    margin-bottom: 0 !important;
  }
}

.checkout__form-unit-top-line-right-part {
  padding-top: 3px;
}

.checkout__form-fast-registration-text {
  margin-bottom: 20px;
  font-size: 13px;
}

.checkout__form-fast-registration {
  margin-bottom: 24px;
}

.checkout__form-registration-text {
  font-weight: 300;
  font-size: 13px;
  color: #767676;
  margin-bottom: 20px;
}

.checkout__form-registration-text__big {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 22px;
  color: #232323
}

.checkout__form-unit-content {
  position: relative;
  //padding-left: 52px;
}
.checkout__form-unit.mod-delivery {
  .line-for-select .form__line {
    margin-bottom: 26px;
  }
}

.checkout__form-fast-registration-links {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.checkout__form-fast-registration-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #DAE0E5;
  border-radius: 33px;
  line-height: 34px;
  width: 117px;
  color: inherit;
  font-size: 13px;
  font-weight: 400;
  margin-right: 14px;
  &:last-child {
    margin-right: 0;
  }
  svg {
    line-height: 0;
    margin-right: 6px;
  }
}

.checkout__form-unit.mod-registration {
   .check {
     padding-top: 2px;
   }
}

//<total-order>====================================================================================================
.total-order-promo__inputs {
  display: none;
  padding-top: 13px;
  padding-bottom: 5px;
  text-align: center;
  input[type="text"] {
    height: 34px;
    text-align: center;
    margin-bottom: 15px;
  }
}
.total-order-promo__btn {
  border: none;
  background: none;
  padding: 0;
  box-shadow: none;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  color: $color-2;
  &:hover {
    text-decoration: none;
  }
}

.total-order-promo,
.total-order-promo__total {
  border-radius: 4px;
  border: 1px solid #DAE0E5;
  padding-left: 26px;
  padding-right: 26px;
}

.total-order-promo {
  margin-bottom: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.total-order-promo__total {
  margin-bottom: 30px;
  padding-top: 26px;
  padding-bottom: 22px;
  font-size: 14px;
  font-weight: 300;
}
.total-order-button-line {
  margin-bottom: 15px;
  .btn {
    width: 100%;
    padding: 0 5px;
  }
}
.total-order__line {
  text-align: center;
}

.total-order-promo__link {
  font-size: 13px;
  .total-order-promo__link-active {
    display: none;
  }
  &.active {
    .total-order-promo__link-active {
      display: initial;
    }
    .total-order-promo__link-normal {
      display: none;
    }
  }
}

.total-order-promo__title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.total-order-title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 18px;
}

.total-order-detal {
  font-size: 14px;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 8px;
  p {
    margin-bottom: 5px;
  }
}
.total-order-result {
  padding-top: 18px;
  p {
    margin-bottom: 4px;
  }
}
//</total-order>====================================================================================================



.shop-cart-table table {
  width: 100%;
  td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  td:first-child {
    padding-left: 0;
  }
  td:nth-child(2),
  td:nth-child(3) {
    padding-left: 26px;
    padding-right: 26px;
    .price-box {
      margin-bottom: 6px;
      justify-content: center;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .delete-product {
    display: flex;
    text-decoration: none;
    width: 60px;
    height: 40px;
    margin-right: 0;
    background-position-x: left;
    background-position-y: center;
    cursor: pointer;
    background: none !important;
    justify-content: center;
    align-items: center;
    svg {
      fill: #BDBDBD;
      width: 16px;
      height: 16px;
    }
  }
}

.product__mini-view {
  display: flex;
  align-items: center;
  .product__img {
    position: relative;
    margin-right: 23px;
    line-height: 0;
    text-decoration: none;
    width: 112px;
    img {
      margin-bottom: 0;
    }
  }
  .stiсker-box {
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    width: auto;
    margin-right: 10px;
  }
  .shop-cart-product__line {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .product__name {
    text-decoration: none;
    background: none;
    color: inherit;
    flex: 1;
    &:hover {
      color: $color-2;
    }
  }
  .b-product__vendor-code {
    font-weight: 300;
    font-size: 13px;
    color: #767676;
    line-height: 18px;
  }
  .product__parameters-item {
    margin-bottom: 4px;
    &:last-child {
    margin-bottom: 0;
  }
  }
  .shop-cart-product__unit {
    margin-right: 21px;
    &:last-child {
      margin-right: 0;
    }
  }
  .product__parameters {
    display: block !important;
    padding-top: 0;
  }
  .shop-cart-product {
    width: calc(100% - 112px - 23px - 60px);
  }
}

.tab__title {
  display: flex;
  li {
    margin-right: 10px;
  }
  li.ui-tabs-active .btn {
    background: linear-gradient(180deg,#cf1c35 0,#c60f28 100%);
    color: #fff;
  }
}

.shop-cart-table .mod-for-mobile {
  display: none !important;
}

.shop-cart-product .product__img {
  display: none !important;
}

////------------------media screen 1200 begin-----------------------------*/
@media (max-width: $md2+px) {

  .shop-cart-table table td:nth-child(2), .shop-cart-table table td:nth-child(3) {
    padding-left: 16px;
    padding-right: 16px;
  }
  .shop-cart-table table td:first-child {
    padding-right: 16px;
  }
  .shop-cart-table table .delete-product {
    width: 30px;
  }

  .product__mini-view .product__img {
    margin-right: 10px;
  }
  .product__mini-view .shop-cart-product {
    width: calc(100% - 112px - 10px - 30px);
  }
  .product__mini-view .shop-cart-product__line {
    flex-wrap: wrap;
  }
  .product__mini-view .shop-cart-product__unit {
    margin-bottom: 6px;
  }



}

//------------------media screen 1024 begin-----------------------------*/
@media (max-width: $md3+px) {
  .checkout__form-unit-top-line-left-part {
    margin-right: 50px;
  }
  .shop-cart-table {
    .buy-credit {
      font-size: 12px;
    }
  }

  .shop-cart-table table td:nth-child(2),
  .shop-cart-table table td:nth-child(3) {
    padding-left: 12px;
    padding-right: 12px;
  }
  .shop-cart-table table td:first-child {
    padding-right: 12px;
  }
  .product__mini-view .stiсker-box {
    width: 100%;
    margin-right: 0;
  }
  .product__name {
    font-size: 14px;
  }


}

//------------------media screen 800 end-----------------------------*/
@media (max-width: $md4+px) {
  .step-of-order__link {
    font-size: 16px;
  }
  .step-of-order {
    margin-bottom: 40px;
  }
  .order-page__columns {
    flex-wrap: wrap;
  }
  .order-page__columns .page-columns__big {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .order-page__columns .page-columns__small.mod-right {
    position: relative;
    width: 100%;
  }
  .order-page__columns {
    margin-bottom: 0;
  }
  .step-of-order__item:last-child {
    margin-right: 0;
  }
  .checkout__form-unit h2 {
    margin-bottom: 20px;
  }

}

//------------------media screen 568 begin-----------------------------*/
@media (max-width: $md5+px) {
  .step-of-order__link {
    font-size: 13px;
  }
  .checkout__form-unit-top-line-left-part {
    margin-right: 25px;
    h2, h2 {
      font-size: 16px;
    }
  }
  .checkout__form-unit:before {
    display: none;
  }
  .checkout__form-unit {
    padding-left: 45px;
  }
  .checkout__form-unit-content {
    margin-left: -45px;
  }
  .checkout__box-radio {
    margin-right: 10px;
  }
  .checkout__box-unit {
    width: 155px;
    padding-right: 15px;
  }
  .checkout__box-info {
    width: calc(100% - 155px);
  }
  .total-order-button-line:last-child {
    margin-bottom: 0px;
  }

  .total-order-result {
    .price {
      font-size: 19px;
    }
    .currency {
      font-size: 13px;
      margin-left: 3px;
    }
  }

  .product-carousel {
    .slick-next, .slick-prev {
      display: none !important;
    }
    .b-product {
      margin-top: 2px;
    }
  }

  .page-columns__big .product-carousel .b-product {
    width: calc(33.3333333333% - 10px);
  }
  .products-tab .section-title {
    flex-wrap: wrap;
  }
  .products-tab .section-title h2 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .shop-cart-table {
    thead {
      display: none;
    }
    table, td, tbody {
      display: block;
      border: none !important;
    }
    tr {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 10px;
    }
    table td:first-child {
      width: 100%;
      padding-right: 0;
      padding-bottom: 0;
      padding-top: 15px;
    }
    td:nth-child(2) {
      width: 164px;
    }
    td {
      border-bottom: none;
    }
   .product__name {
      order: -1;
     width: 100%;
     min-width: 100%;
     margin-bottom: 5px;
    }
    .mod-for-PC {
      display: none !important;
    }
    .product__mini-view .shop-cart-product__unit {
      margin-bottom: 10px;
    }
  }

  .shop-cart-table table thead+tbody tr:first-child td:first-child {
    padding-top: 15px;
  }
  .shop-cart-table .mod-for-mobile {
    display: block !important;
  }

  .b-product__vendor-code.mod-for-mobile {
    width: 100%;
    margin-bottom: 10px;
  }

  .shop-cart-table table td.amount-product {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 152px;
    width: auto;
    padding-left: 0;
    text-align: left;
    .amount {
      margin-right: 25px;
    }
    .price-box {
      margin-bottom: 0;
    }
  }
  .shop-cart-table table td:nth-child(3) {
    padding-right: 0;
  }

  .text-page,
  #order_form_div {
    .step-of-order {
      margin-bottom: 40px;
    }
  }
  .step-of-order {
    margin-bottom: 10px;
  }
  .shop-cart-table table thead+tbody tr:first-child td {
    padding-top: 13px;
  }
  .checkout__form-unit.mod-registration {
    .checkout__form-unit-top-line {
      padding-top: 3px;
    }
  }
}

@media (max-width: 620px) {
  .shop-cart-table table td.amount-product .amount {
    margin-right: 15px;
  }
  .shop-cart-table table td:nth-child(3) {
    padding-left: 0;
    padding-right: 12px;
  }
  .shop-cart-table table td.amount-product {
    margin-left: 130px;
  }
  .product__mini-view .shop-cart-product {
    width: calc(100% - 130px);
  }
  .shop-cart-table table .delete-product {
    width: 20px;
    svg {
      width: 15px;
      height: 15px;
    }
  }
  .shop-cart-table .product__mini-view .product__img {
    width: 100px;
  }


}

//------------------media screen 320 begin-----------------------------*/

@media (max-width: $md6+px) {
  .step-of-order {
    margin-bottom: 10px;
    padding: 10px 15px;
  }
  .step-of-order__item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .checkout__form-unit-top-line {
    flex-wrap: wrap;
  }
  .checkout__form-unit-top-line-left-part {
    margin-right: 0;
    width: 100%;
  }
  .checkout__form-unit-top-line-left-part h2 {
    font-size: 14px;
  }

  .checkout__form-registration-text__big {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .checkout__form-unit {
    margin-bottom: 30px;
  }

  .checkout__box {
    flex-wrap: wrap;
    padding: 20px 15px;
  }
  .checkout__box-unit {
    width: 100%;
    padding-right: 0;
    margin-bottom: 12px;
  }
  .checkout__box-info {
    width: 100%;
  }
  .checkout__option-title {
    margin-bottom: 14px;
    font-size: 14px;
  }
  .checkout__box .form__line .short-input, .checkout__box .form__line .short-select {
    width: 100%;
  }
  .total-order-promo__total {
    padding-left: 15px;
    padding-right: 15px;
  }

  .shop-cart-product .product__img {
    display: block !important;
  }
  .products-tab .section-title .tab__title {
    overflow: auto;
    margin-bottom: 0px;
    .tab__title li {
      margin-bottom: 7px;
    }
  }

  .shop-cart-table .product__mini-view .product__img {
    display: none;
  }

  .shop-cart-order__product-item-line {
    position: relative;
  }
  .shop-cart-table table .delete-product {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 2;
  }

  .product__mini-view .shop-cart-product {
    width: 100%;
  }

  .shop-cart-table table td.amount-product {
    margin-left: 0;
    width: 100%;
    padding-right: 0;
    padding-bottom: 5px;
    justify-content: space-between;
  }
  .shop-cart-table .product__name {
    font-size: 13px;
    padding-right: 23px;
    line-height: 18px;
  }

  .shop-cart-table .product__mini-view .product__img {
    width: 112px;
    margin-bottom: 5px;
    margin-top: 6px;
  }
  .shop-cart-table table td:nth-child(3) {
    padding-bottom: 0;
  }

  .shop-cart-table table thead+tbody tr:first-child td,
  .shop-cart-table table thead+tbody td {
    padding-top: 5px;
  }

  .shop-cart-table table thead+tbody tr:first-child td:first-child,
  .shop-cart-table table thead+tbody tr td:first-child {
    padding-top: 20px;
  }

  .shop-cart-table tr {
    padding-bottom: 15px;
  }
  .checkout__form-unit.mod-registration .checkout__form-unit-top-line {
    padding-top: 7px;
  }

}







