//====================================================================================================

.window {
	display: none;
}
.modal-window {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 50px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1010;
	.btn {
		width: 100%;
	}
}
.fancybox-bg {
	background: rgba(0, 0, 0, 0.7);
}
.modal-window .window__wrap {
	position: relative;
	margin: auto;
	max-width: 100%;
	overflow: hidden;
}
.window__or-form {
	position: relative;
	text-align: center;
	margin-bottom: 16px;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		height: 1px;
		width: 100%;
		background: #E5E5E5;
		z-index: 1;
	}
}

.window__or-form--text {
	position: relative;
	z-index: 2;
	display: inline-block;
	padding: 0 10px;
	background: #fff;
	font-size: 13px;
}

.modal-window .window__content {
	position: relative;
}


.window-wrap__content {
	overflow: hidden;
}

.modal-window.active {
	display: flex;
}

.modal-window-close {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 28px;
	width: 28px;
	cursor: pointer;
	z-index: 10;
	right: 16px;
	top: 16px;
	svg {
		fill: #232323;
	}

}

.fancybox-button--close {
	background: none;
	visibility: visible;
}



body.modal-window-open {
	overflow: hidden;
}

.window__content.type-1 {
	position: relative;
	width: 421px;
	padding: 42px 42px 38px 40px;
	text-align: center;
	background: #fff;
	border-radius: 9px;
}
.window__content.type-2 {
	position: relative;
	width: 893px;
	padding: 42px 42px 42px 42px;
	text-align: center;
	background: #fff;
	border-radius: 9px;
}

.window__content.type-3 {
	position: relative;
	width: 1200px;
	padding: 42px 42px 42px 40px;
	text-align: center;
	background: #fff;
	border-radius: 9px;
}

.window__content .form__line {
	text-align: left;
}
.window__title {
	position: relative;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 30px;
	text-align: left;
	padding-right: 5px;
}


.window-form {
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
}

.window__text-line {
	text-align: center;
	font-weight: 300;
	font-size: 13px;
	line-height: 24px;

}
.window-pass-recovery__text,
.window-call-back__text,
.window__bottom-text {
	font-size: 13px;
	text-align: center;
	color: #767676;
	padding-top: 8px;
}
.window__bottom-text {
	width: 100%;
}

.window-message__top-line {
	display: flex;
	align-items: center;
	margin-bottom: 33px;
	.window__title {
		width: calc(100% - 56px - 8px);
		margin-bottom: 0;
	}
}
.window-message__text {
	p {
		margin-bottom: 20px;
	}
	*:last-child {
		margin-bottom: 0;
	}
}
.window-message__icon {
	width: 56px;
	margin-right: 8px;
	line-height: 0;
}

.window-message {
	text-align: left;
}

.modal-window.mod-message .window__title {
	padding: 0 12px;
}


.window-box-for-socials {
	margin-bottom: 22px;
}
.window-socials {
	display: flex;
	align-items: center;
	justify-content: center;
	//padding-top: 3px;
}
.window-socials__link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	border: 1px solid #DAE0E5;
	border-radius: 33px;
	line-height: 34px;
	width: 117px;
	color: inherit;
	font-size: 13px;
	font-weight: 400;
	margin-right: 14px;
	&:last-child {
		margin-right: 0;
	}
	svg {
		line-height: 0;
		margin-right: 6px;
	}
}
.window-box-for-socials__text {
	margin-bottom: 20px;
	font-size: 13px;
}

.modal-window {
	.type-2-product {
		margin-bottom: 16px;
	}
}

.window-pass-recovery {
	.form__line.mod-button {
		padding-top: 10px;
	}
	.window-form {
		margin-bottom: 18px;
	}
}

.window-reg {
	.window-form {
		display: none;
	}
	.line-for-window-reg__btn {
		margin-bottom: 22px;
		padding-top: 2px;
	}
	&.mod-form-open {
		.window-form {
			display: block;
		}
		.line-for-window-reg__btn {
			display: none;
		}
	}
}

.window-call-back,
.buy-one-click,
.window-write-us {
	.form__line:last-child {
		margin-bottom: 0;
	}
}

.window-add-shopcart {
	.type-2-product {
		margin-bottom: 22px;
	}
}

//====================================================================================================

.choose-credit__header {
	box-sizing: border-box;
	position: relative;
	display: flex;
	background: #EEF2F3;
	border-radius: 4px;
	padding: 9px 0;
	margin-bottom: 12px;
	.choose-credit__column.mod-1 {
		text-align: left;
		padding-left: 10px;
	}

}
.choose-credit__column {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	line-height: 22px;
}
.choose-credit__dropdown-box {
	display: flex;
	align-items: center;
	width: calc(100% - 220px);
}
.choose-credit__line {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #E5E5E5;
	padding: 20px 0;
	line-height: 0;
	.choose-credit__column.mod-1 {
		text-align: left;
	}
}
.choose-credit__result-line,
.choose-credit__bottom-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:after {
		display: none;
	}
}
.choose-credit__result-line {
	margin-bottom: 34px;
	padding-top: 21px;
}
.choose-credit__result-item {
	width: 25%;
	text-align: center;
}
.window-credit {
	.price {
		color: #232323;
	}
	.btn {
		width: auto;
	}
}
.choose-credit__select {
	width: 100px;
	margin: 0 auto 12px auto;
}
.choose-credit__icon {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
}
.choose-credit__bank-info {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 40px);
	margin-bottom: 0px;
}
.choose-credit__select-text {
	font-weight: 300;
	font-size: 13px;
	color: #767676;
	line-height: 20px;
	.bold {
		color: #232323;
	}
}

.choose-credit__column.mod-1 {
	width: 220px;
	padding-right: 12px;
}
.choose-credit__column.mod-2 {
	width: 210px;
}
.choose-credit__column.mod-3 {
	width: 210px;
	padding: 0 20px;
}
.choose-credit__column.mod-4 {
	width: 180px;
	padding: 0 20px;
}
.choose-credit__result-title {
	margin-bottom: 5px;
}


.window_availabale__columns {
	display: flex;
}
.window_availabale__product {
	width: 317px;
	text-align: left;
	padding-top: 16px;
	.product__parameters {
		display: block;
		margin-bottom: 20px;
		padding-top: 0;
	}
	.product-cart__name,
	.product-cart-img {
		display: block;
	}
	.product-cart__box-for-credit {
		width: 100%;
		margin-bottom: 14px;
	}
	.b-product__favorite {
		position: relative;
		top: 0;
		right: 0;
		line-height: 0;
		&.active:before {
			width: 100%;
			height: 17px;
			background-size: 10px;
		}
	}
	.price {
		font-size: 24px;
	}
	.old-price .price {
		font-size: 15px;
	}
	.product-cart__one-click.mod-near-btn {
		display: inline-flex;
		margin-right: 0;
	}
	.product-cart__line-unit {
		margin-right: 10px;
	}
	.product-cart__line {
		margin-bottom: 18px;
	}
}

.window_availabale__map {
	position: relative;
	width: calc(100% - 317px - 32px);
	margin-right: 32px;
	iframe {
		width: 100%;
		min-height: 100%;
	}
	.contacts-page__map--pointer {
		position: absolute;
	}
}

.credit-mobile-title {
	display: none;
}

.window_availabale__map-address {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 20px;
	background: rgba(255, 255, 255, 0.95);
	padding: 22px 22px 19px;
	text-align: left;
	max-width: calc(100% - 40px);
}




.window_availabale__map-address--title {
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: normal;
}
.window_availabale__map-address--text {
	font-weight: 300;
	font-size: 13px;
}

//------------------media screen 1200 begin-----------------------------*/
@media (max-width: $md2+px) {
	.window__content.type-3 {
		width: 1160px;
	}
}

//------------------media screen 1024 begin-----------------------------*/
@media (max-width: $md3+px) {
	.window__content.type-3 {
		width: 920px;
	}
}

//------------------media screen 800 end-----------------------------*/
@media (max-width: $md4+px) {
	.window__content.type-3 {
		width: 100%;
	}
	.window_availabale__product {
		display: none;
	}
	.window_availabale__map {
		width: 100%;
		margin-right: 0px;
	}
	.window_availabale {
		.window__wrap {
			width: 100%;
		}
	}
	.window_availabale__map iframe {
		max-height: 100vh;
		min-height: 400px;
	}

	.window__content.type-2 {
		max-width: 100%;
		padding-right: 32px;
		padding-left: 32px;
	}

	.choose-credit__header {
		display: none;
	}

	.choose-credit__line {
		flex-wrap: wrap;
	}

	.credit-mobile-title {
		display: block;
		margin-bottom: 5px;
		font-size: 13px;
	}

	.choose-credit__column.mod-1 {
		width: 100%;
		padding-right: 0;
	}
	.choose-credit__dropdown-box {
		width: 100%;
		padding-top: 20px;
	}
	.choose-credit__bank-info br {
		display: none;
	}
	.choose-credit__column.mod-4 {
		width: 140px;
		padding: 0 10px;
		padding-right: 0;
	}
	.choose-credit__column.mod-3 {
		width: 180px;
		padding: 0 10px;
	}
	.choose-credit__column.mod-2 {
		width: calc(100% - 180px - 140px);
		padding-right: 10px;
	}
	.choose-credit__dropdown-box {
		width: 100%;
		padding-top: 10px;
	}
	.choose-credit__result-title {
		font-size: 13px;
	}
	.choose-credit__result-item {
		width: auto;
		padding-right: 10px;
		padding-left: 10px;
	}
	.choose-credit__result-line {
		margin-right: -10px;
		margin-left: -10px;
	}
	.window-credit {
		.window__title {
			margin-bottom: 15px;
		}
	}


}

//------------------media screen 568 begin-----------------------------*/
@media (max-width: $md5+px) {
	.window__title {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 25px;
		padding-right: 0;
	}
	.window-message__top-line {
		margin-bottom: 20px;
	}
	.choose-credit__column.mod-3 {
		width: 110px;
		padding: 0 10px;
	}
	.choose-credit__column.mod-4 {
		width: 100px;
	}
	.choose-credit__select-text {
		font-size: 12px;
		line-height: 20px;
	}
	.choose-credit__column.mod-2 {
		width: calc(100% - 110px - 100px);
		padding-right: 0;
	}

	.choose-credit__bottom-line, .choose-credit__result-line {
		flex-wrap: wrap;
	}
	.window-credit .btn {
		width: 100%;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.choose-credit__result-item {
		width: 25%;
	}

}


//------------------media screen 320 begin-----------------------------*/

@media (max-width: $md6+px) {
	.window__title {
		font-size: 17px;
		line-height: 1.4;
	}
	.modal-window {
		padding: 20px;
	}
	.window__content.type-1,
	.window__content.type-3,
	.window__content.type-2 {
		padding: 38px 25px 32px 25px;
		max-width: 100%;
	}

	.entry-window,
	.window-pass-recovery {
		.window__text-line {
			br {
				display: none;
			}
			.link-to-window {
				display: block;
			}
		}

	}

	.window-socials__link {
		font-size: 12px;
	}

	.window-form {
		margin-bottom: 20px;
	}
	.choose-credit__dropdown-box {
		flex-wrap: wrap;
	}
	.choose-credit__column.mod-2 {
		width: 100%;
		padding-right: 0;
		text-align: left;
		margin-bottom: 15px;
	}
	.choose-credit__select {
		width: 100%;
	}
	.choose-credit__column.mod-3 {
		width: 50%;
		padding: 0;
		text-align: left;
		padding-right: 0px;
		.credit-mobile-title {
			margin-bottom: 0px;
			font-size: 12px;
			line-height: 18px;
		}
	}
	.choose-credit__column.mod-4 {
		width: 50%;
		padding: 0;
		text-align: left;
		padding-left: 20px;
		.credit-mobile-title {
			margin-bottom: 0px;
			font-size: 12px;
			line-height: 18px;
		}
	}
	.window-credit .window__title {
		margin-bottom: 0;
	}
	.choose-credit__result-item {
		width: 50%;
		text-align: left;
		margin-bottom: 15px;
	}
	.choose-credit__result-line {
		margin-bottom: 15px;
		padding-top: 21px;
	}
	.choose-credit__result-title {
		font-size: 12px;
		line-height: 18px;
	}
	.choose-credit__result-item:nth-child(odd) {
		padding-right: 0;
	}
	.choose-credit__result-item:nth-child(even) {
		padding-left: 20px;
	}

	.window_availabale__map-address {
		top: 15px;
		left: 15px;
		padding: 15px 15px;
		max-width: calc(100% - 30px);
		font-size: 12px;
	}
	.window_availabale__map-address--title {
		font-size: 14px;
		margin-bottom: 6px;
	}

}